/*
 ███▄    █  ▄████▄  
 ██ ▀█   █ ▒██▀ ▀█  
▓██  ▀█ ██▒▒▓█    ▄ 
▓██▒  ▐▌██▒▒▓▓▄ ▄██▒the CSS
▒██░   ▓██░▒ ▓███▀ ░
░ ▒░   ▒ ▒ ░ ░▒ ▒  ░
░ ░░   ░ ▒░  ░  ▒   
   ░   ░ ░ ░        
         ░ ░ ░      
           ░        
           
*/

body{
  display: flex;
  flex-direction: column;
  background-image: url(ressoures/background.jpg);
  background-size:cover;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
}

/* Style fort parent container */

.calc {
  
  padding: 5px 5px 5px 5px;
  justify-content: center;
  width: 196px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-style: outset;
  background: radial-gradient(#696a6e 10%, #000000 99%);
  border-top: inset;
  margin-right: outset;
  border-color: #999BAE;
  border-width: 20px;
  border-radius: 40px;
  box-shadow: 2px 5px 10px 1px #000000;
}

.calc:active{
  box-shadow: 0px 0px 7px #000000;
}
.calc h3{
  
  text-align: center;
  margin-top: -20px;
  margin-bottom:20px;
  color:  rgb(131, 131, 131);
  font-size: 11px;
  font-family: "Roboto";
  text-shadow: 0 1px 0.1px rgba(0, 0, 0, 0.439);
  
}
/* Référencement du font de l'afficheur du calculatrice */

@font-face {
  font-family: "sevenSeg" ;
  src: url(./ressoures/display-font.ttf);
}

/* code d'affiche d'afficheur du calc */

.afficher {
  height: 50px;
  margin-top: -10px;
  margin-bottom:30px;
  width: 190px;
  background: radial-gradient(#516A51 10%, #2C2D2C 99%);
  background-color: #4f585b; 
  color: black ;
  font-family: "sevenSeg";
  text-align: right;
  font-weight:bold;
  font-size: 30px;
  text-shadow: 1px 5px 3px #303031;
  outline: none;
  user-select: none;
  --moz-user-select: none;
  /* --webkit-user-select: none; */
  
}

/*header namex calculator */

h1{
  
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #969494;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0 2px 25px rgba(35, 35, 35, 0.759);
  background: transparent;
}

/*Parent for keys layer out */

.keys {
  
  display: flex;
  height: 120px;
  align-content: space-around;
  flex-wrap: wrap;
}

/* style for digit key */

.key {
  
  width: 35px;
  height: 35px;
  font-weight: bold;
  font-size: 20px;
  color: #022229;
  background-color: #02c5f6;
  margin: 2px;
  box-shadow: 1px 1px 2px 1px #111111;
  justify-content: center;
  border-radius: 5px;
  background: linear-gradient(0deg, #E4E4E4, #030303);
}

.key:active {
  width: 34px;
  height: 34px;
  box-shadow: none;
}

/* Style for operator keys */


.operation {
  
  display: flex;
  width: 15px;
}

.oper {
  flex-direction: row;
  width: 35px;
  height: 35px;
  color: #FFFFFF;
  background: linear-gradient(0deg, #3E3E3E, #1A1A1B);
  font-size: 20px;
  margin: 2px;
  font-weight: bold;
  background-color: #033086;
  box-shadow: 1px 0px 1px 1px #111111;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
}

.oper:active {
  width: 33px;
  height: 39px;
  box-shadow: none;
}

/* Delete key */

.keyss {
  
  flex-direction: row;
  width: 35px;
  height: 40px;
  color: #929292;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin: 2px;
  margin-top: -40px;
  margin-bottom: 5px;
  box-shadow: 0px 1px 2px 1px #111111;
  justify-content: center;
  border-radius: 5px 5px 25px 25px;
  background-color: #0B0B0B;
  background: radial-gradient(#261A34 1%, #000000 99%);
}
.del:active {
  width: 33px;
  height: 39px;
  box-shadow: none;
}
/* equal key  */

.equal {
  flex-direction: row;
  width: 35px;
  height: 85px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  margin: 2px;
  box-shadow: 0px 1px 2px 1px #111111;
  justify-content: center;
  border-radius: 5px;
  background-color: #288da7;
  background: linear-gradient(0deg, #FF3232, #760505);
  
}
.equal:active {
  width: 34px;
  height: 84px;
  box-shadow: none;
}